$dark: blue;

#table {
  header {
    background: #2d2d2d;
  }
  .form-control:focus {
    box-shadow: none;
  }
  .fs-7 {
    font-size: 0.75rem;
  }

  & > div {
    border-radius: 10px;
  }

  //* checkbox
  .rc-checkbox-checked {
    .rc-checkbox-inner {
      &:after {
        left: 5px;
        width: 7px;
        height: 13px;
      }
    }
  }

  .rc-checkbox-inner {
    border-color: #949494;
    background-color: #2d2d2d;
    height: 20px;
    width: 20px;

    &:after {
      border: none;
      left: 5px;
      width: 7px;
      height: 13px;
    }
  }
}
