//* General */

.text-decoration-none {
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.text-underline-hover {
  text-decoration: none;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.fw-500 {
  font-weight: 500;
}

.overflow-y-overlay {
  overflow-y: overlay;
}

.box-shadow-none {
  box-shadow: none !important;
}

#change-values-hover {
  span:first-child {
    display: inline-block;
  }
  span:last-child {
    display: none;
  }
  &:hover {
    span:first-child {
      display: none;
    }
    span:last-child {
      display: inline-block;
    }
  }
}

//* End General */

//* Queue */

#queue {
  div {
    cursor: pointer;

    &:hover {
      background-color: $dark;
    }

    .badge {
      position: relative;
      top: 3px;
    }
  }
}

//* End Queue */

//* Table */

#table {
  #spinner {
    margin: 5em 0;
  }

  #table-subheader {
    .form-check {
      position: relative;
      top: 11px;
    }

    @media only screen and (max-width: 992px) {
      .form-check {
        top: 0;
      }
    }
  }

  .rdt_TableRow:hover {
    background-color: $dark-gray;
  }

  .rdt_TableBody input[type='checkbox'] {
    height: 0.9em;
    width: 0.9em;
  }

  input[type='checkbox'] {
    @extend .form-check-input;
  }

  .rdt_Pagination select {
    min-width: 35px;
  }
}

//* End Table */

//* Code Container */

#code-container {
  padding: 0 !important;

  .code-block pre {
    height: 60vh !important;
  }

  .hidden-textarea {
    z-index: 999;
    position: absolute;
    left: -999999px;
  }
}

.code-container-light {
  .code-block pre,
  .hidden-textarea {
    background-color: $secondary !important;
  }
}

.code-container-grey {
  background-color: $dark-gray-light !important;

  .code-block pre,
  .hidden-textarea {
    background-color: $dark-gray-light !important;

    &:not(.hidden-textarea) {
      span:not([style]) {
        color: #fff;
      }
    }
  }
}

.code-container-dark {
  background-color: #303144 !important;

  .code-block pre,
  .hidden-textarea {
    background-color: #303144 !important;

    &:not(.hidden-textarea) {
      span:not([style]) {
        color: #ddd;
      }
    }
  }
}

.ReactVirtualized__List span {
  color: #bbb;
}

//* End Code Container */

//* File Share Container */

#file-share-container {
  .logo-responsive {
    max-width: 250px;
    min-width: 180px;
  }

  .card {
    min-height: 103px;
  }

  .toolbar {
    background-color: #3e3f58;

    .row {
      background-color: #3e3f58;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
    }

    .input-group-text,
    .form-control {
      background-color: #303144 !important;
      border: none;
      color: #ddd;
      box-shadow: 0;
      outline: 0 none;
    }
    .form-control:focus {
      border: none;
      box-shadow: 0;
    }
  }
}

//* End File Share Container */

//* Color classes */

.text-eee {
  color: #eee;
}

.text-ddd {
  color: #ddd;
}

.text-ccc {
  color: #ccc;
}

//* End color classes */

//* Toasts */

.Toastify {
  .Toastify__progress-bar--default {
    background: #766df4;
  }

  .Toastify__toast-container,
  .Toastify__toast {
    padding: 0;
  }

  .toast {
    box-shadow: none;

    .toast-body {
      color: #747272;
    }
  }

  .Toastify__close-button {
    display: none;
  }
}

//* End Toasts */

//* React Switch */

.react-switch {
  vertical-align: middle;

  .react-switch-handle {
    box-shadow: none !important;
  }
}

//* End React Switch */

//* Modal */

#support-case-modal {
  .modal-header i {
    position: relative;
    top: 1.1px;
  }

  button i {
    position: relative;
    left: 2px;
  }
}

//* End Modal */

//* Scrollbar */

::-webkit-scrollbar {
  width: $scrollbar-width;
  background-color: transparent;
  opacity: 0;
}
::-webkit-scrollbar-thumb {
  background-color: $scrollbar-bg;
  @include border-radius($scrollbar-width / 2);
}

//* End Scrollbar */
