//* General */

.text-decoration-none-hover:hover {
  text-decoration: none;
}

//* End General */

//* Queue */

#queue {
  div {
    cursor: pointer;

    &:hover {
      background-color: #454662;
    }

    .badge {
      position: relative;
      top: 3px;
    }
  }
}

//* End Queue */

//* Table */

#table {
  #spinner {
    margin-top: 5em;
  }

  #table-subheader {
    .form-check {
      position: relative;
      top: 11px;
    }

    @media only screen and (max-width: 992px) {
      .form-check {
        top: 0;
      }
    }
  }
}

//* End Table */
