//* General */

.text-decoration-none-hover:hover {
  text-decoration: none;
}

.text-underline-hover {
  text-decoration: none;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

//* End General */

//* Queue */

#queue {
  div {
    cursor: pointer;

    &:hover {
      background-color: #454662;
    }

    .badge {
      position: relative;
      top: 3px;
    }
  }
}

//* End Queue */

//* Table */

#table {
  #spinner {
    margin-top: 5em;
  }

  #table-subheader {
    .form-check {
      position: relative;
      top: 11px;
    }

    @media only screen and (max-width: 992px) {
      .form-check {
        top: 0;
      }
    }
  }
}

//* End Table */

//* Code Container */

#code-container pre pre {
  padding: 0 !important;
  background-color: $secondary !important;

  .comment:not(.token) {
    margin-bottom: 0 !important;
    padding-bottom: 0.2rem !important;
    border-bottom: 0 !important;
    font-size: 12px !important;
  }
}

//* End Code Container */
